TCApp/.idea/codeStyles/Project.xml
TCApp/.idea/compiler.xml
TCApp/.idea/encodings.xml
TCApp/.idea/misc.xml
TCApp/.idea/modules.xml
TCApp/.idea/runConfigurations.xml
TCApp/app/release/instant-app.json
TCApp/app/release/instantappRecordVideo-release.zip
TCApp/app/release/output.json
